*{
    margin: 0px;
    color: #2d431a;
    background-color: #cacfc6;
}

div{
    margin: 10px;
}

a{
    margin: 0px;

}

hr{
    border: 1px solid #7d916c;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: #2d431a;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    width: 100vw;
    height: 27px;
    
}

span{
    background-color: #2d431a;
    vertical-align: middle;

}

#page-contents{
    border-top: 1px solid #7d916c;
    font-weight: normal;
}


.nav-bar a{
    font-weight: bold;
    font-family: "Arial";
    background-color: #2d431a;
    color: #cacfc6;
    text-decoration: none;
    border: 1px solid #2d431a;
}

button{
    background-color: #2d431a;
    color: #cacfc6;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
}

.current-page{
    text-decoration: underline overline double;
}

th a{
    text-decoration: none;
    font-family: "Arial";
    background-color: #2d431a;
    color: #cacfc6;
}

th{
    background-color: #2d431a;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
}

.cover{
    margin-top: 80px;
    text-align: center;
    
}

.cover img{
    width: 50vw;
}

.cover table{
    margin: auto;
    margin-top: 20px;
}