*{
    margin: 0px;
    color: #2d431a;
    background-color: #cacfc6;
}

div{
    margin: 10px;
}

a{
    margin: 0px;

}

h1{
    font-family: "Arial";
    text-align: center;
    margin-top: 20px;
}

hr{
    border: 1px solid #7d916c;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
    background-color: #2d431a;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    width: 100vw;
    height: 27px;
    
}

span{
    background-color: #2d431a;
    vertical-align: middle;

}






.nav-bar a{
    font-weight: bold;
    font-family: "Arial";
    background-color: #2d431a;
    color: #cacfc6;
    text-decoration: none;
    border: 1px solid #2d431a;
}

#page-contents{
    margin-top: 10px;
    background-color: #527336;

}


#page-contents a, #page-contents span{
    font-weight: lighter;
    font-size: small;
    background-color: #527336;
    border: none;
}

button{
    background-color: #2d431a;
    color: #cacfc6;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
}

.current-page{
    text-decoration: underline overline double;
}

th a{
    text-decoration: none;
    font-family: "Arial";
    background-color: #2d431a;
    color: #cacfc6;
}

th{
    background-color: #2d431a;
    border-radius: 5px;
    padding: 8px 20px;
    font-weight: bold;
    font-size: 14px;
}

.cover{
    margin-top: 80px;
    text-align: center;
    
}



.cover table{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comparison th{ 
    background-color: #cacfc6;
    padding: 8px;
    border: 1px solid black;
    border-radius: 0px;
    margin: 0px;
    border-collapse: collapse;
}

.comparison td{ 
    background-color: #cacfc6;
    padding-left: 5px;
    padding-right: 10px;
    border: 1px solid black;
    border-radius: 0px;
    margin: 0px;
    border-collapse: collapse;

}

.comparison td p{
    margin: 4px;
    font-size: medium;;
}

.comparison{
    margin: auto;
    margin-bottom: 20px;
    border-collapse: collapse;
}


form{
    padding-bottom: 20px;
}


#quiz-result{
    border: 4px double black;
    padding: 5px;
    display: none;
}

h4{
    margin-top: 10px;
    text-align: center;
}

h2{
    margin-top: 40px;
    font-family: "Arial";
}

p{
    margin-bottom: 10px;
    font-size: large;
}

.cover h1, .cover h2{
    font-family: auto;
}


img{
    display: block;
    margin: auto;
    width: 70vw;
}

iframe{
    display: block;
    margin: auto;
    width: 70vw;
}


.caption{
    display: block;
    margin: auto;
    width: 70vw;
    font-size: medium;
    padding-top: 5px;
}

.footer{
    color: #7d916c;
    display: block;
    width: 90vw;
    margin: auto;
    text-align: center;
}